#post-container {
    padding: 30px;
}

.post-control{
    padding: 15px 0;
}

#post-title {
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
}

#post-author {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: large;
}

#editPostButton {
    float: right;
    box-shadow: 0 4px 2px -2px rgb(255, 136, 160);
    -webkit-box-shadow: 0 4px 2px -2px rgb(255, 136, 160);
}

#savePostButton {
    float: right;
    box-shadow: 0 4px 2px -2px rgb(255, 136, 160);
    -webkit-box-shadow: 0 4px 2px -2px rgb(255, 136, 160);
}

